/* Mouse Cursor */
body{
    margin: 0;
    cursor: cursor; 
} 
/* Mouse Cursor Event */
#custom-cursor {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;    
    pointer-events: none; 
    transform: translate(-50%, -50%);
    transition: width 0.2s, height 0.2s;
    background-color: rgba(125, 141, 236, 0.5);
  }
 /* Navbar Text Hover*/
 a:hover {
     color: #7d8dec !important;
 }
 /* Side WhatsApp Icon */
 #whatsapp-icon {
     left: 10px;
     bottom: 10px;
     position: fixed;
 }

 /* Side Scrollbar*/
 ::-webkit-scrollbar {
     width: 8px;
 }

 ::-webkit-scrollbar-thumb {
     background-color: #7d8dec;
     border-radius: 100px !important;
 }

 ::-webkit-scrollbar-thumb:hover {
     background-color: rgb(192, 186, 186);
 }

 /* Down to Upper Side Button */
 #scrollToTopBtn {
     display: none;
     position: fixed;
     bottom: 25px;
     right: 25px;
     background-color: #7d8dec;
     color: #fff;
     border: none;
     border-radius: 5px;
     font-size: 1.5em;
     cursor: pointer;
     height: 50px;
     width: 50px;
 }

 /* Seach Box Hide on Phone*/
 @media screen and (max-width: 992px) {
     .navsearch {
         display: none;
     }

     #logo {
         width: 100px !important;
     }
 }

